<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Gestion Administrateur</title>
</head>
<body>
    <h1>Accueil de gestion Administrateur</h1>
    <div sec:authorize="isAuthenticated()">
        <a href="/admin/characters">Gestion base de donnée des personnages</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Se déconnecter</button>
        </form>
    </div>
</body>
</html>
