<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Ma Collection</title>
</head>
<body>
    <h1>Collection de <span th:text="${user.username}"></span></h1>
    <h1>
        Hello <span sec:authentication="name"></span>!
    </h1>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <ul>
        <li th:each="character : ${characters}">
            <strong th:text="${character.name}"></strong>: 
            <br>
            Prix : <span th:text="${character.price}"></span> |
            Rang Claim : <span th:text="${character.claimCount}"></span> |
            Rang Like : <span th:text="${character.likeCount}"></span>
        </li>
        <!-- <a th:href="@{/collection/delete/{id}(id=${character.id})}">Supprimer</a> -->
    </ul>
    <div th:if="${#authentication.name == user.username}">
        <h2>Ajouter un nouveau personnage</h2>
        <form th:action="@{/collection/add}" method="post">
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="price">Prix :</label>
            <input type="number" id="price" name="price" required>
            <br>
            <label for="claimCount">Rang Claim :</label>
            <input type="number" id="claimCount" name="claimCount" required>
            <br>
            <label for="likeCount">Rang Like :</label>
            <input type="number" id="likeCount" name="likeCount" required>
            <br>
            <label for="image">Image :</label>
            <input type="text" id="image" name="image" required>
            <br>
            <button type="submit">+</button>
        </form>
    </div>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
