<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-gray-200">
    <div class="min-h-screen flex flex-col items-center justify-center">
        <div class="mb-6 text-center">
            <div class="flex justify-center mb-4">
                <img src="/images/budae.png" alt="Pablo Image" class="w-40 h-auto rounded-full">
            </div>
            <h1 class="text-4xl font-bold text-gray-100">Bienvenue sur Budae</h1>
        </div>
        <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-2xl">
            <div sec:authorize="isAuthenticated()" class="space-y-4">
                <a href="/roll" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 border-b-2 border-gray-300 transform hover:scale-105 transition duration-200 ease-in-out">
                   Page de roll
                </a>
                <a href="/profile" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 border-b-2 border-gray-300 transform hover:scale-105 transition duration-200 ease-in-out">
                   Voir mon profil
                </a>
                <a href="/collection" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 border-b-2 border-gray-300 transform hover:scale-105 transition duration-200 ease-in-out">
                   Voir ma collection
                </a>
                <a href="/search" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 border-b-2 border-gray-300 transform hover:scale-105 transition duration-200 ease-in-out">
                   Rechercher un utilisateur
                </a>
                <a href="/topcharacters" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 border-b-2 border-yellow-600 transform hover:scale-105 transition duration-200 ease-in-out">
                   Top des Personnages
                </a>
                <a href="/topusers" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 border-b-2 border-yellow-600 transform hover:scale-105 transition duration-200 ease-in-out">
                   Top des Joueurs
                </a>
                <a th:if="${isAdmin}" href="/admin" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 border-b-2 border-red-800 transform hover:scale-105 transition duration-200 ease-in-out">
                   Panneau Administrateur
                </a>
                <form th:action="@{/logout}" method="post" class="mt-4">
                    <button type="submit" 
                            class="w-full py-2 bg-gray-600 hover:bg-gray-500 rounded text-gray-200 font-semibold">
                        Se déconnecter
                    </button>
                </form>
            </div>
            <div sec:authorize="isAnonymous()" class="text-center space-y-4">
                <a href="/login" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 mt-2 transform hover:scale-105 transition duration-200 ease-in-out">
                   Se connecter
                </a>
                <a href="/register" 
                   class="block py-2 px-4 bg-gray-700 hover:bg-gray-600 rounded text-gray-200 mb-2 transform hover:scale-105 transition duration-200 ease-in-out">
                   Créer un compte
                </a>
            </div>
            
        </div>
    </div>
</body>
</html>