<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur le gestionnaire de collection</h1>
    <div sec:authorize="isAuthenticated()">
        <a href="/roll">Page de roll</a>
        <a href="/profile">Voir mon profil</a>
        <a href="/collection">Voir ma collection</a>
        <a href="/search">Rechercher un utilisateur</a>
        <a href="/topcharacters">Voir le top des personnages</a>
        <a href="/topusers">Classement des joueurs</a>
        <a href="/createTrade">Trade</a> 
        <a href="/followList">Liste des utilisateurs suivis</a>
        <a th:if="${isAdmin}" href="/admin">Panneau Administrateur</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Se déconnecter</button>
        </form>
    </div>
    <div sec:authorize="isAnonymous()">
        <a href="/login">Se connecter</a>
        <a href="/register">Créer un compte</a>
    </div>
</body>
</html>