<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top personnages</title>
</head>
<body>
    <h1>Top des personnages </h1>
    <table border="1" cellpadding="10" style="border-collapse: collapse; text-align: left; width: 100%;">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Valeur</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="character : ${characters}">
                <td th:text="${character.name}"></td>
                <td th:text="${character.price}"></td>
                <td>
                    <img th:src="@{'/uploads/' + ${character.imagePath}}" alt="Image du personnage"
                         style="max-width: 100px; max-height: 100px; display: block;">
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/" style="text-decoration: none;">Retour à l'accueil</a>
</body>
</html>
